body{
    font-family: bombard;
}
.header{
    background-color: #047dc4;
    color: white;
    display: flex;
}
.headerRight{
    display: flex;
    margin-left: auto;
}
.headerLeft{
    display: flex;
}
/*
.languePickerDropDown > ul{
    list-style-type: none;
    position: absolute;
}
*/
.headerItem {
    border: white solid 1px;
    padding: 1rem;
    margin: 0;
    font-size: 1em;
}
/*
.languePickerDropDown{
    padding: 1rem;
}
*/
.itemLink{
    color: black;
    text-decoration: none;     
}
ul{
    list-style: outside none none;
    padding-inline-start: 0px;
}
.itemList{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.mainContent{
    padding: 5rem;
}
.repoItem{
    padding: 2rem;
}
.tagList{
    display: flex;
}
.tag{
    margin: 0.5rem;
}
.profileButtonList{
    display: flex;
}
.profileButton:hover{
    background-color: #ccc;
}
.profileButton{
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 0.5rem;
    border: 1px black solid;
}
.activeProfileButton{
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 0.5rem;
    border: 1px black solid;
    background-color: #aaa;
}
.ProfileButtonImg{
    height: 20px;
    width: 20px;
    filter: grayscale(100%)
}